@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #dddddd;
  
  /* Rimworld Palette */
  --rimworld-bg: #111111;
  --rimworld-panel: #1e1e1e;
  --rimworld-test: #dddddd;
  --rimworld-highlight: #9f752a;
  --rimworld-border: #6b6b6b;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-rimworld-bg: var(--rimworld-bg);
  --color-rimworld-panel: var(--rimworld-panel);
  --color-rimworld-text: var(--rimworld-test);
  --color-rimworld-highlight: var(--rimworld-highlight);
  --color-rimworld-border: var(--rimworld-border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
